:root {
    --color: #a0e7ff;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 3px solid var(--color);
}

button {
    background-color: var(--color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin: 10px;
    border: 1px solid var(--color);
}

#delete-btn {
    color: var(--color);
    background-color: black;
}
ul {
    color: white;
    margin: 20px;
}

li {
    margin: 7px;
}

li a {
    color: var(--color);
}
